.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #1976d2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ChangePage {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer.footer {
  background: #f9f9f9;
  border-top: 1px solid #DAE0E6;
  padding: 1rem 1rem*0.75;
}

footer.footer a {
  color: #2d4271;
}

footer.footer ul {
  padding: 0;
}

footer.footer ul h4 {
  margin-bottom: 0 !important;
}

footer.footer ul li {
  list-style: none;

}

.text-left {
  text-align: left;
}

.button-hotline {
  border: none !important;
  background: linear-gradient(92.44deg, #fd5056 1.58%, #fe2214 105.9%);
  border-radius: 10px !important;
  display: flex !important;
  align-items: center !important;
  color: white !important;
  width: 200px;
  height: 50px;
  font-size: 20px !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.ml-auto {
  margin-left: auto;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top-50 {
  top: 50%;
}

.end-0 {
  right: 0;
}

.translate-middle-y {
  transform: translateY(-50%);
}

.input-h {
  height: 10px;
  padding-right: 30px;
  border-radius: 10px;
}